Repository haseebno1/HabitSeed, changes with the labels that .github/labeler.yml gives for each.
All labels: core, ui, docs, tests, android, github-actions, dependencies, config

.github/labeler.yml:

# Add 'core' label to any change in the src/hooks or src/lib directories
core:
  - src/hooks/**/*
  - src/lib/**/*

# Add 'ui' label to any change within the src/components directory
ui:
  - src/components/**/*

# Add 'docs' label to any change to documentation files
docs:
  - '**/*.md'
  - docs/**/*

# Add 'tests' label to any change to test files
tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'

# Add 'android' label to any change within the android directory
android:
  - android/**/*

# Add 'github-actions' label to any change in the .github directory
github-actions:
  - .github/**/*

# Add 'dependencies' label to changes in package files
dependencies:
  - package.json
  - package-lock.json
  - bun.lockb

# Add 'config' label to changes in configuration files
config:
  - '*.config.ts'
  - '*.config.js'
  - vite.config.ts
  - capacitor.config.ts
  - tsconfig.json

Clean up repository by removing unnecessary files
  .cursor/rules/Accessibility (a11y).mdc
  .cursor/rules/Code Style & Structure.mdc
  .cursor/rules/Error Handling & Validation.mdc
  .cursor/rules/Forms & Validation.mdc
  .cursor/rules/Naming Conventions.mdc
  .cursor/rules/Performance Optimization.mdc
  .cursor/rules/React + TypeScript Best Practices.mdc
  .cursor/rules/Standard.js Rules.mdc
  .cursor/rules/State Management (Zustand).mdc
  .cursor/rules/TypeScript Configuration.mdc
  .cursor/rules/UI & Styling (SCSS Modules).mdc
  .gitignore
  IMPROVEMENTS.md
  TODO.md
  pic.png
Labels: docs

Add files via upload
  public/habit-seed-logo.png
Labels: none

Fix GitHub Actions build errors by adding debug information
  .github/workflows/build.yml
Labels: github-actions

Fix GitHub Actions build by using legacy-peer-deps for npm installation
  .github/workflows/build.yml
Labels: github-actions

Add .nvmrc and enhance GitHub Actions workflow with better error handling and debugging
  .github/workflows/build.yml
  .nvmrc
Labels: github-actions

Update README.md
  README.md
Labels: docs

Refactor GitHub Actions workflow for improved dependency management and debugging
  .github/workflows/build.yml
Labels: github-actions

Update Node.js version in README and GitHub Actions workflow to v20
  .github/workflows/build.yml
  README.md
Labels: docs, github-actions

Enhance GitHub Actions workflow for Android builds
  .github/workflows/build.yml
Labels: github-actions

Enhance GitHub Actions workflow for Android builds
  .github/workflows/build.yml
Labels: github-actions

Enhance GitHub Actions workflow for Android builds
  .github/workflows/build.yml
Labels: github-actions

Enhance GitHub Actions workflow for Android builds with MultiDex support
  .github/workflows/build.yml
Labels: github-actions

Refactor Application class creation in GitHub Actions workflow
  .github/workflows/build.yml
Labels: github-actions

Fix Java compatibility issues in GitHub Actions workflow
  .github/workflows/build.yml
Labels: github-actions

Update README.md
  README.md
Labels: docs

Add files via upload
  public/screenshot.png
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Rename habit-seed-logo.png to habit-seed-logo2.png
  public/habit-seed-logo2.png
Labels: none

Add files via upload
  public/habit-seed-logo.png
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs
